# {{ ansible_managed }}

[DEFAULT]
log_file = persister.log
log_dir = "{{persister_log_dir}}"
# Default log level is WARNING
# Show debugging output in logs (sets DEBUG log level output)
debug = false
# Show more verbose log output (sets INFO log level output) if debug is False
verbose = true

[zookeeper]
# Comma separated list of host:port
uri = "{{zookeeper_hosts}}"
partition_interval_recheck_seconds = 15

[kafka_alarm_history]
# Comma separated list of Kafka broker host:port.
uri = "{{kafka_hosts}}"
group_id = 1_alarm-state-transitions
topic = alarm-state-transitions
consumer_id = 1
client_id = 1
database_batch_size = 1000
max_wait_time_seconds = 30
# The following 3 values are set to the kafka-python defaults
fetch_size_bytes = 4096
buffer_size = 4096
# 8 times buffer size
max_buffer_size = 32768
# Path in zookeeper for kafka consumer group partitioning algo
zookeeper_path = /persister_partitions/alarm-state-transitions

[kafka_metrics]
# Comma separated list of Kafka broker host:port.
uri = "{{kafka_hosts}}"
group_id = 1_metrics
topic = metrics
consumer_id = 1
client_id = 1
database_batch_size = 1000
max_wait_time_seconds = 30
# The following 3 values are set to the kafka-python defaults
fetch_size_bytes = 4096
buffer_size = 4096
# 8 times buffer size
max_buffer_size = 32768
# Path in zookeeper for kafka consumer group partitioning algo
zookeeper_path = /persister_partitions/metrics

[influxdb]
database_name = "{{influxdb_db}}"
ip_address = "{{influxdb_host}}"
port = 8086
user = "{{influxdb_user}}"
password = "{{influxdb_password}}"


